In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
e_data = pd.read_csv('ELSI_California_Ethnicity.csv')
print(e_data.columns)
print(e_data.info)

Index(['ELSI Export', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22'],
      dtype='object')
<bound method DataFrame.info of                                             ELSI Export Unnamed: 1 Unnamed: 2  \
0                                                   NaN        NaN        NaN
1     National Center for Education Statistics - htt...        NaN        NaN
2                                                   NaN        NaN        NaN
3     This is a District based table with the follow...        NaN        NaN
4                                                   NaN        NaN        NaN
...                                                 ...        ...        ...
1169  Data Source: U.S. Department of Education Nati...        NaN        NaN
1170                                                NaN        NaN        NaN
1171      † indicates that the data are not applicable.        NaN        NaN
1172             – indicates that the data are missing.        NaN        NaN
1173  ‡ indicates that the data do not meet NCES dat...        NaN        NaN

     Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0           NaN        NaN        NaN        NaN        NaN        NaN
1           NaN        NaN        NaN        NaN        NaN        NaN
2           NaN        NaN        NaN        NaN        NaN        NaN
3           NaN        NaN        NaN        NaN        NaN        NaN
4           NaN        NaN        NaN        NaN        NaN        NaN
...         ...        ...        ...        ...        ...        ...
1169        NaN        NaN        NaN        NaN        NaN        NaN
1170        NaN        NaN        NaN        NaN        NaN        NaN
1171        NaN        NaN        NaN        NaN        NaN        NaN
1172        NaN        NaN        NaN        NaN        NaN        NaN
1173        NaN        NaN        NaN        NaN        NaN        NaN

     Unnamed: 9  ... Unnamed: 13 Unnamed: 14 Unnamed: 15 Unnamed: 16  \
0           NaN  ...         NaN         NaN         NaN         NaN
1           NaN  ...         NaN         NaN         NaN         NaN
2           NaN  ...         NaN         NaN         NaN         NaN
3           NaN  ...         NaN         NaN         NaN         NaN
4           NaN  ...         NaN         NaN         NaN         NaN
...         ...  ...         ...         ...         ...         ...
1169        NaN  ...         NaN         NaN         NaN         NaN
1170        NaN  ...         NaN         NaN         NaN         NaN
1171        NaN  ...         NaN         NaN         NaN         NaN
1172        NaN  ...         NaN         NaN         NaN         NaN
1173        NaN  ...         NaN         NaN         NaN         NaN

     Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21 Unnamed: 22
0            NaN         NaN         NaN         NaN         NaN         NaN
1            NaN         NaN         NaN         NaN         NaN         NaN
2            NaN         NaN         NaN         NaN         NaN         NaN
3            NaN         NaN         NaN         NaN         NaN         NaN
4            NaN         NaN         NaN         NaN         NaN         NaN
...          ...         ...         ...         ...         ...         ...
1169         NaN         NaN         NaN         NaN         NaN         NaN
1170         NaN         NaN         NaN         NaN         NaN         NaN
1171         NaN         NaN         NaN         NaN         NaN         NaN
1172         NaN         NaN         NaN         NaN         NaN         NaN
1173         NaN         NaN         NaN         NaN         NaN         NaN

[1174 rows x 23 columns]>

### Print DataFrame

In [23]:
e_data.head()

,ELSI Export,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,National Center for Education Statistics - htt...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,This is a District based table with the follow...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Remove 'NaN' rows

In [24]:
clean_data = e_data.dropna(how = 'all')
print(clean_data.info)
clean_data.head()

<bound method DataFrame.info of                                             ELSI Export  \
1     National Center for Education Statistics - htt...
3     This is a District based table with the follow...
5                                           Agency Name
6                                           ABC UNIFIED
7                                   ACALANES UNION HIGH
...                                                 ...
1166                     YUCAIPA-CALIMESA JOINT UNIFIED
1169  Data Source: U.S. Department of Education Nati...
1171      † indicates that the data are not applicable.
1172             – indicates that the data are missing.
1173  ‡ indicates that the data do not meet NCES dat...

                                       Unnamed: 1  \
1                                             NaN
3                                             NaN
5     State Name [District] Latest available year
6                                      California
7                                      California
...                                           ...
1166                                   California
1169                                          NaN
1171                                          NaN
1172                                          NaN
1173                                          NaN

                                             Unnamed: 2  \
1                                                   NaN
3                                                   NaN
5     Grade 10 Students - American Indian/Alaska Nat...
6                                                     4
7                                                     2
...                                                 ...
1166                                                  5
1169                                                NaN
1171                                                NaN
1172                                                NaN
1173                                                NaN

                                             Unnamed: 3  \
1                                                   NaN
3                                                   NaN
5     Grade 10 Students - Asian or Asian/Pacific Isl...
6                                                   623
7                                                   200
...                                                 ...
1166                                                 12
1169                                                NaN
1171                                                NaN
1172                                                NaN
1173                                                NaN

                                           Unnamed: 4  \
1                                                 NaN
3                                                 NaN
5     Grade 10 Students - Hispanic [District] 2016-17
6                                                 656
7                                                 144
...                                               ...
1166                                              297
1169                                              NaN
1171                                              NaN
1172                                              NaN
1173                                              NaN

                                        Unnamed: 5  \
1                                              NaN
3                                              NaN
5     Grade 10 Students - Black [District] 2016-17
6                                              159
7                                               20
...                                            ...
1166                                            13
1169                                           NaN
1171                                           NaN
1172                                           NaN
1173                                           NaN

                                        Unnamed: 6  \
1                                              NaN
3                                              NaN
5     Grade 10 Students - White [District] 2016-17
6                                              100
7                                              885
...                                            ...
1166                                           396
1169                                           NaN
1171                                           NaN
1172                                           NaN
1173                                           NaN

                                             Unnamed: 7  \
1                                                   NaN
3                                                   NaN
5     Grade 10 Students - Hawaiian Nat./Pacific Isl....
6                                                    12
7                                                     2
...                                                 ...
1166                                                  1
1169                                                NaN
1171                                                NaN
1172                                                NaN
1173                                                NaN

                                             Unnamed: 8  \
1                                                   NaN
3                                                   NaN
5     Grade 10 Students - Two or More Races [Distric...
6                                                    32
7                                                   132
...                                                 ...
1166                                                 10
1169                                                NaN
1171                                                NaN
1172                                                NaN
1173                                                NaN

                                             Unnamed: 9  ...  \
1                                                   NaN  ...
3                                                   NaN  ...
5     Grade 11 Students - American Indian/Alaska Nat...  ...
6                                                     –  ...
7                                                     4  ...
...                                                 ...  ...
1166                                                  5  ...
1169                                                NaN  ...
1171                                                NaN  ...
1172                                                NaN  ...
1173                                                NaN  ...

                                       Unnamed: 13  \
1                                              NaN
3                                              NaN
5     Grade 11 Students - White [District] 2016-17
6                                               95
7                                              926
...                                            ...
1166                                           427
1169                                           NaN
1171                                           NaN
1172                                           NaN
1173                                           NaN

                                            Unnamed: 14  \
1                                                   NaN
3                                                   NaN
5     Grade 11 Students - Hawaiian Nat./Pacific Isl....
6                                                    15
7                                                     6
...                                                 ...
1166                                                  1
1169                                                NaN
1171                                                NaN
1172                                                NaN
1173                                                NaN

                                            Unnamed: 15  \
1                                                   NaN
3                                                   NaN
5     Grade 11 Students - Two or More Races [Distric...
6                                                    31
7                                                    84
...                                                 ...
1166                                                  4
1169                                                NaN
1171                                                NaN
1172                                                NaN
1173                                                NaN

                                            Unnamed: 16  \
1                                                   NaN
3                                                   NaN
5     Grade 12 Students - American Indian/Alaska Nat...
6                                                     8
7                                                     2
...                                                 ...
1166                                                  3
1169                                                NaN
1171                                                NaN
1172                                                NaN
1173                                                NaN

                                            Unnamed: 17  \
1                                                   NaN
3                                                   NaN
5     Grade 12 Students - Asian or Asian/Pacific Isl...
6                                                   701
7                                                   203
...                                                 ...
1166                                                 18
1169                                                NaN
1171                                                NaN
1172                                                NaN
1173                                                NaN

                                          Unnamed: 18  \
1                                                 NaN
3                                                 NaN
5     Grade 12 Students - Hispanic [District] 2016-17
6                                                 719
7                                                  94
...                                               ...
1166                                              288
1169                                              NaN
1171                                              NaN
1172                                              NaN
1173                                              NaN

                                       Unnamed: 19  \
1                                              NaN
3                                              NaN
5     Grade 12 Students - Black [District] 2016-17
6                                              165
7                                               23
...                                            ...
1166                                            14
1169                                           NaN
1171                                           NaN
1172                                           NaN
1173                                           NaN

                                       Unnamed: 20  \
1                                              NaN
3                                              NaN
5     Grade 12 Students - White [District] 2016-17
6                                              119
7                                              915
...                                            ...
1166                                           410
1169                                           NaN
1171                                           NaN
1172                                           NaN
1173                                           NaN

                                            Unnamed: 21  \
1                                                   NaN
3                                                   NaN
5     Grade 12 Students - Hawaiian Nat./Pacific Isl....
6                                                    11
7                                                     5
...                                                 ...
1166                                                  3
1169                                                NaN
1171                                                NaN
1172                                                NaN
1173                                                NaN

                                            Unnamed: 22
1                                                   NaN
3                                                   NaN
5     Grade 12 Students - Two or More Races [Distric...
6                                                    30
7                                                    76
...                                                 ...
1166                                                  5
1169                                                NaN
1171                                                NaN
1172                                                NaN
1173                                                NaN

[1168 rows x 23 columns]>

,ELSI Export,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
1,National Center for Education Statistics - htt...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,This is a District based table with the follow...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Agency Name,State Name [District] Latest available year,Grade 10 Students - American Indian/Alaska Nat...,Grade 10 Students - Asian or Asian/Pacific Isl...,Grade 10 Students - Hispanic [District] 2016-17,Grade 10 Students - Black [District] 2016-17,Grade 10 Students - White [District] 2016-17,Grade 10 Students - Hawaiian Nat./Pacific Isl....,Grade 10 Students - Two or More Races [Distric...,Grade 11 Students - American Indian/Alaska Nat...,...,Grade 11 Students - White [District] 2016-17,Grade 11 Students - Hawaiian Nat./Pacific Isl....,Grade 11 Students - Two or More Races [Distric...,Grade 12 Students - American Indian/Alaska Nat...,Grade 12 Students - Asian or Asian/Pacific Isl...,Grade 12 Students - Hispanic [District] 2016-17,Grade 12 Students - Black [District] 2016-17,Grade 12 Students - White [District] 2016-17,Grade 12 Students - Hawaiian Nat./Pacific Isl....,Grade 12 Students - Two or More Races [Distric...
6,ABC UNIFIED,California,4,623,656,159,100,12,32,–,...,95,15,31,8,701,719,165,119,11,30
7,ACALANES UNION HIGH,California,2,200,144,20,885,2,132,4,...,926,6,84,2,203,94,23,915,5,76

### Replace 'Nan' values with 0
Print DataFrame

In [25]:
#e_data.fillna(0)
#e_data.apply(pd.to_numeric, errors = 'coerce')
clean_data.replace(np.nan, 0, inplace = True)
clean_data.head()

/home/jovyan/.local/lib/python3.6/site-packages/pandas/core/frame.py:4389: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

,ELSI Export,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
1,National Center for Education Statistics - htt...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,This is a District based table with the follow...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Agency Name,State Name [District] Latest available year,Grade 10 Students - American Indian/Alaska Nat...,Grade 10 Students - Asian or Asian/Pacific Isl...,Grade 10 Students - Hispanic [District] 2016-17,Grade 10 Students - Black [District] 2016-17,Grade 10 Students - White [District] 2016-17,Grade 10 Students - Hawaiian Nat./Pacific Isl....,Grade 10 Students - Two or More Races [Distric...,Grade 11 Students - American Indian/Alaska Nat...,...,Grade 11 Students - White [District] 2016-17,Grade 11 Students - Hawaiian Nat./Pacific Isl....,Grade 11 Students - Two or More Races [Distric...,Grade 12 Students - American Indian/Alaska Nat...,Grade 12 Students - Asian or Asian/Pacific Isl...,Grade 12 Students - Hispanic [District] 2016-17,Grade 12 Students - Black [District] 2016-17,Grade 12 Students - White [District] 2016-17,Grade 12 Students - Hawaiian Nat./Pacific Isl....,Grade 12 Students - Two or More Races [Distric...
6,ABC UNIFIED,California,4,623,656,159,100,12,32,–,...,95,15,31,8,701,719,165,119,11,30
7,ACALANES UNION HIGH,California,2,200,144,20,885,2,132,4,...,926,6,84,2,203,94,23,915,5,76